.line {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-bottom: 1%;
}

.progress-bar {
    height: 1.5rem;
    text-align: center;
    color: white;
    transform: scale(3.5, 1); 
}

.lavender {
    accent-color: #967BB6;
}

.green {
    accent-color: #4C906B;
}

.red {
    accent-color: red;
}

.yellow {
    accent-color: #fff200;
}

.mint {
    accent-color: #98ff98;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.realign-table {
    margin-left: 30%;
}

.realign-top-bottom {
    margin-top: 2%;
}