.line {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-bottom: 1%;
}

.progress-bar {
    height: 1.5rem;
    text-align: center;
    color: white;
    transform: scale(10, 3);
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.realign-table {
    margin-left: 30%;
}

.realign-top-bottom {
    margin-top: 2%;
}