.progress-bar-box {
    /* margin-left: 50px; */
    /* margin-top: 50px; */
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.line {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray
}

.progress-bar {
    height: 1.5rem;
    text-align: center;
    color: white;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
